body {
    font-family:"Open-Sans", sans-serif;
}
.toeat-form, .main-header, .task-list{
    display: flex;;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.toeat-form input {
    padding: 10px;
    margin: 10px 0;
}
.task-list li{
    padding: 15px;
    border-bottom: solid 1px grey;
    list-style-type: none;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
